.App {
  min-height:100vh;
  text-align: center;
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

